<div class="board_issue clearfix" id="<%= issue.id %>" style="">
  <p class="id" style="font-size: 13px;float: left">
    #<%= link_to issue.id,:controller => 'issues', :action => 'show', :id =>issue.id %>
  </p>
  <% if User.current.name != "Anonymous"  && @id_member.include?(User.current.id)|| User.current.admin %>
    <i class="close_issue icon-remove-circle" id="close_<%= issue.id %>">
    <p class="text_close">
      <%= l(:label_board_issue_text_close_issue)%>
    </p></i>
    <i class="edit_issue  icon-edit">
    <p class="text_edit">
      <%= l(:label_board_issue_text_edit_issue)%>
    </p> </i>
  <% end %>
  <div class="subject" >
    <p class="no_edit subject_issue" id="subject_<%= issue.id%>">
      <%= issue.subject %>
    </p>
    <input class="editing" id="input_subject_<%= issue.id%>" type="text" value="<%= issue.subject %>" name="subject_issue" style="font-size: 12px;width: 82%;float: right" />
  </div>

  <div class="assignee no_edit clearfix">
    <i class="icon-arrow-right" style="float: left"></i>
    <% if issue.assigned_to %>
   <div class="no_edit" id="assignee_<%= issue.id %>" style="float:left;margin: 0 5px;color: #3A87AD">
    <%= link_to issue.assigned_to,:controller => 'users', :action => 'show', :id =>issue.assigned_to.id %>
    </div>
    <% end %>
    <select class="editing span5" id="select_ass_<%= issue.id %>" name="select_ass" style="display: none;font-size: 13px;float: left">
      <% @member.each do |member|%>
        <% if member.id == issue.assigned_to_id %>
          <option value="<%= member.id %>" selected="selected"><%= member.firstname + ' ' + member.lastname %></option>
        <% else %>
          <option value="<%= member.id %>"><%= member.firstname + ' ' + member.lastname %></option>
        <% end %>
      <% end %>
    </select>
    <div class="no_edit" id="date_<%= issue.id %>" style="float: right">
      <% if issue.due_date %>
        <p  style="float: right" id="end_date_<%= issue.id %>">
          <%= issue.due_date%>
        </p>
        <i class=" icon-arrow-right" style="float: right;margin: 0 5px"></i>
      <% else%>
        <% if issue.fixed_version && issue.fixed_version.effective_date != nil %>
          
          <p style="float: right" id="end_date_<%= issue.id %>">
            <%= issue.fixed_version.effective_date%>(v)
          </p>
          <i class=" icon-arrow-right" style="float: right;margin: 0 5px"></i>
        <% end %>
      <% end %>
      <% if issue.start_date != ""%>
        <p style="float: right" id="start_date_<%= issue.id %>">
          <%= issue.start_date%>
        </p>
      <% end %>
    </div>
    <div class="editing edit_date clearfix" id="edit_date_<%= issue.id %>" value="<%= issue.id %>" style="">
     <input type="text" id="date_end_<%= issue.id %>" class="span3" value="<%= format_date(issue.due_date)%>" style="font-size: 13px;float: right" />
     <input type="text" id="date_start_<%= issue.id %>" class="span3" value="<%= format_date(issue.start_date)%>" style="font-size: 13px;float: right;margin-right: 10px"/>
    </div>
  </div>

  <% if issue.description != "" %>
  <div class="description">
     <% if issue.description.length >= 100 %>
      <div class="no_edit div_description description_hide" id="description_hide_<%= issue.id %>">
      <%= raw(issue.description.first(100).html_safe.gsub(/\n/, "<br/>")) %><br /> 
      &hellip;
    </div>
    <a href="#" id="readmore_<%= issue.id %>" class="readmore no_edit" value="<%= issue.id %>"><%= l(:label_readmore)%></a>
    
    <% else%>
    <div class="no_edit div_description description_hide" id="description_hide_<%= issue.id %>">
      <%= raw(issue.description.first(100).html_safe.gsub(/\n/, "<br/>")) %>
    </div>
    <% end %>
    <div class="no_edit div_description description_readmore" id="description_readmore_<%= issue.id %>" style="display: none">
      <%= raw(issue.description.html_safe.gsub(/\n/, "<br/>")) %>
    </div>
     <a href="#" id="hide_<%= issue.id %>" class="hide no_edit" value="<%= issue.id %>"><%= l(:label_hide)%></a>
 
    <textarea class="editing span12" id="text_description_<%= issue.id %>" style="display:none;font-size: 12px;height: 150px;"><%= issue.description %></textarea>
    </div>

  <% else %>
  <div class="description">
    <textarea class="editing span12" id="text_description_<%= issue.id %>" style="display:none;height: 150px;"><%= issue.description %></textarea>
  </div>
  <% end %>
  <% if User.current.name != "Anonymous"  && @id_member.include?(User.current.id)|| User.current.admin %>
    <div class="slider-horizontal" id="slider<%= issue.id%>" value="<%= issue.done_ratio%>" style="margin: 0 15px 5px 0"></div>
    <p style="float: right;color: #f6931f; font-weight: bold">% </p>
    <input type="text" id="amount<%= issue.id%>" style="border:0;color: #f6931f; font-weight: bold;float: right;margin-bottom: 0;font-size: 13px;width: 25px;padding:0px;" />
  
  <% else %>
  <div class="progressbar" value="<%= issue.done_ratio%>" id="progress<%= issue.id%>" style="height: 12px;margin: 0 15px 5px 0"></div>
  <p style="float: right;color: #f6931f; font-weight: bold"><%= issue.done_ratio%>% </p>
    
  <% end %>
  <p class="estimated" style="float: left;font-size: 12px;margin-top: 3px;">
    <%= l(:label_board_issue_time)%><span class="no_edit" id="est_<%= issue.id %>"> <%= issue.estimated_hours %></span>
  </p>
  <input class="editing input-mini" id="input_est_<%= issue.id%>" type="text" name="input_est_issue" value="<%= issue.estimated_hours %>" style="font-size: 12px;width: 40px;padding:0;"/>
  <div id="div_submit_edit_<%= issue.id%>" class="editing submit_edit_issue clearfix" value="<%= issue.id%>">
    <button type="button" class="submit_edit btn-mini btn-primary" >
      <%= l(:label_board_edit_btn_submit)%>
    </button>
    <button type="button" class="cancel_edit btn-mini btn-danger" >
      <%= l(:label_board_edit_btn_cancel)%>
    </button>
  </div>
</div>

