<div class="editing" name="issue" id="edit_issue_<%= issue.id %>" value="<%= issue.id %>">
  <input class="span12" id="edit_subject_<%= issue.id%>" name="edit_subject" type="text" value="<%= issue.subject %>" name="subject_issue" style="font-size: 12px" />
  <textarea class="span12" id="edit_description_<%= issue.id %>" name="edit_description" style="height: 150px;"><%= issue.description %></textarea>
  <div  class="span12" style="margin-left: 0px;">
    <div class="span6">
      <p><span class="span5"><%= l(:label_tracker)%> </span>
      <select class="span7" id="edit_tracker_<%= issue.id %>">
        <% @tracker.each do |tracker|%>
          <% if tracker.id == issue.tracker_id %>
            <option value="<%= tracker.id %>" selected="selected"><%= tracker.name %></option>
          <% else %>
            <option value="<%= tracker.id %>"><%=tracker.name %></option>
          <% end %>
        <% end %>
      </select></p>
      <p><span class="span5"><%= l(:label_priority)%> </span>
      <select class="span7" id="edit_priority_<%= issue.id %>">
      <% @priority.each do |priority|%>
        <% if priority.id == issue.priority_id %>
          <option value="<%= priority.id %>" selected="selected"><%= priority.name %></option>
        <% else %>
         <option value="<%= priority.id %>"><%= priority.name %></option>
        <% end %>
      <% end %>
      </select></p>
      <p><span class="span5"><%= l(:label_head_issue_assignee)%> </span>
      <select class="span7" id="edit_ass_<%= issue.id %>">
        <option></option>
      <% @member.each do |assignee|%>
        <% if assignee.id == issue.assigned_to_id %>
          <option value="<%= assignee.id %>" selected="selected"><%= assignee.name %></option>
        <% else %>
         <option value="<%= assignee.id %>"><%= assignee.name %></option>
        <% end %>
      <% end %>
      </select></p>
    </div>
    <div class="span6">
      <p><span class="span5"><%= l(:label_head_issue_est_time)%> </span>
      <input class="span7 input-mini"  id="edit_time_<%= issue.id %>" style="text" value="<%= issue.estimated_hours %>" style=""/></p>
      <div class="edit_date" value="<%= issue.id %>">
      <p><span class="span5"><%= l(:label_start_date)%></span>
      <input class="span7"  id="date_start_<%= issue.id %>" value="<%= format_date(issue.start_date)%>"/></p>
      <p><span class="span5"><%= l(:label_end_date)%></span>
      <input class="span7"  id="date_end_<%= issue.id %>" value="<%= format_date(issue.due_date)%>"/></p>
      </div>
    </div>
  </div>
  <div class="submit_edit_issue span12" value="<%= issue.id%>">
    <button type="button" class="submit_edit btn-mini btn-primary" >
      <%= l(:label_board_edit_btn_submit)%>
    </button>
    <button type="button" class="cancel_edit btn-mini btn-danger" >
      <%= l(:label_board_edit_btn_cancel)%>
    </button>
  </div>
</div>