<div class="container-fluid filter">
  <%= form_tag :action => 'index',:project_id =>  params[:project_id] %>
  <%= button_tag l(:label_btn_submit_selected),:class => " btn btn-small btn-primary btn_submit" %>
  <select name="select_issue" id="select_issue">
    <option value="7" <% if params[:select_issue] && params[:select_issue].to_i == 7%><%= selected="selected" %><% end %>><%= l(:label_select_all_issues_working)%></option>
    <option value="2" <% if params[:select_issue] && params[:select_issue].to_i == 2%><%= selected="selected" %><% end %>><%= l(:label_select_my_issues)%></option>
    <option value="3" <% if params[:select_issue] && params[:select_issue].to_i == 3%><%= selected="selected" %><% end %>><%= l(:label_select_my_issues_completed)%></option>
    <option value="4" <% if params[:select_issue] && params[:select_issue].to_i == 4%><%= selected="selected" %><% end %>><%= l(:label_select_new_issues)%></option>
    <option value="5" <% if params[:select_issue] && params[:select_issue].to_i == 5%><%= selected="selected" %><% end %>><%= l(:label_select_al_issuesl_completed)%></option>
    <option value="6" <% if params[:select_issue] && params[:select_issue].to_i == 6%><%= selected="selected" %><% end %>><%= l(:label_select_all_issues_closed)%></option>
    <option value="1" <% if params[:select_issue] && params[:select_issue].to_i == 1%><%= selected="selected" %><% end %>><%= l(:label_select_all_issues)%></option>

  </select>
  <select name="select_version" id="select_version">
    <option value="version_working"<% if params[:select_version] && params[:select_version] == 'version_working'%><%= selected="selected" %><% end %> ><%= l(:label_select_all_versions_working)%></option>
    <% @list_versions_open.each do |version|%>
    <% if params[:select_version] && params[:select_version].to_i == version.id %>
    <option value="<%= version.id %>" selected ><%= version.name %></option>
    <% else %>
    <option value="<%= version.id %>" ><%= version.name %></option>
    <% end %>
    <% end %>
    <option value="backlog" <% if params[:select_version] && params[:select_version] == 'backlog'%><%= selected="selected" %><% end %>><%= l(:label_select_backlog)%></option>
    <% if @list_versions_closed %>
    <optgroup label="Closed Sprint">
      <% @list_versions_closed.each do |version|%>
      <% if params[:select_version] && params[:select_version].to_i == version.id %>
      <option value="<%= version.id %>" selected ><%= version.name %></option>
      <% else %>
      <option value="<%= version.id %>" ><%= version.name %></option>
      <% end %>
      <% end %>
    </optgroup>
    <% end %>
    <option value="all" <% if params[:select_version] && params[:select_version] == 'all'%><%= selected="selected" %><% end %>><%= l(:label_select_all_versions)%></option>
    
  </select>
  <%= form_tag %>
  <% if User.current.name != "Anonymous" %>
  <p>
    <button class="btn btn-danger close_issue_list btn-mini">
      <%= l(:label_close_all_issues)%>
    </button>
  </p>
  <% end %>
</div>