<%= form_for @issue,url: { action: "create"},:method => :post do |f| %>
<div class="board_issue clearfix" id="create_issue">
  <p><span class="span2">Tracker </span>
   <%= f.select :tracker_id, @tracker.map{ |c| [c.name, c.id]},{},:class => "span5",:id => "new_tracker" %>
   
    <span class="span2">Time </span>
      <%= f.text_field :estimated_hours,:class => "span3",:id => "new_est_time"%>
    </p>
  <p class="span12"><span class="span2"> Subject</span>
    <%= f.text_field :subject,:class => "span10",:id => "new_subject_issue"%></p>
  <p><span class="span12">Description</span>
       <%= f.text_area :description, :class => "span12",:id => "new_description_issue" %></p>
  <div class="span12" style="margin-left: 0px;">
  <div class="span6">
    <p><span class="span4">Status</span>
    <%= f.select :status, @status.map{ |c| [c.name, c.id]},{},:class => "span8",:id => "new_status" %>
    </p>
     <p><span class="span4">Priority</span>
     <%= f.select :priority_id, @priority.map{ |c| [c.name, c.id]},{},:class => "span8",:id => "new_priority" %></p>
    <p><span class="span4">Start</span>
      <%= f.text_field :start_date,:class => "span8",:id => "new_start_date" %>
    </p>
  </div>
  <div class="span6">
    <p><span class="span4">Assignee </span>
    <%= f.select :assigned_to_id, @member.map{|c| [c.name, c.id]}, { :include_blank => true },:class => "span8",:id => "new_assignee" %></p>
    <p><span class="span4" style="">Sprint</span>
      <%= f.select :fixed_version_id, @sprints.map{ |c| [c.name, c.id]}, { :include_blank => true },:class => "span8",:id => "new_sprint" %></p>
   
   <p><span class="span4">End</span>
     <%= f.text_field :due_date,:class => "span8",:id => "new_due_date"%></p>
   
  </div>
   </div>
  <div class="submit_edit_issue clearfix span12">
     <%= f.submit l(:label_board_edit_btn_submit),:class => "submit_new btn-mini btn-primary",:id => "submit_new_issue" %> 
    <button type="button" class="cancel_new btn-mini btn-danger" id="cancel_new_issue" >
      <%= l(:label_board_edit_btn_cancel)%>
    </button>
  </div>
</div>
<% end %>