<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<% html_title "scrum2b" %>
<%= stylesheet_link_tag 'bootstrap', :plugin => 'scrum2b' %>
<%= stylesheet_link_tag 'jquery-ui-slider', :plugin => 'scrum2b' %>
<%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<div class="container-fluid">
  <p class="issues">
    <%= l(:label_menu_issue)%>
  </p>
  <%= button_to l(:label_scrum2b_list),{:action => "index",:project_id =>  params[:project_id],:session => "list"},:class => "btn btn-small btn_submit_board btn-primary"%>
</div>
<%= render :partial => "filter_board" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_new)%>
      </p>
      <% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>
        <p class="new_issue ">
        <i class="icon-plus-sign icon_new_issue"><span class="text_new "><%= l(:label_board_issue_new_issue)%></span></i> 
        </p>
      <% end %>
      <div class="connectedSortable" id ="<% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>new<% else %>new_nomember<% end %>" >
       
        <% @issues_new.each do |issue|%>
        <li id ="<%= issue.id %>">
          <%= render :partial => "board_issue", :locals => { :issue => issue} %>
        </li>
        <% end %>
      </div>
    </div>
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_inprogress)%>
      </p>
      <div class="connectedSortable" id ="<% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>started<% else %>started_nomember<% end %>">
         <% @issues_started.each do |issue|%>
          <li id ="<%= issue.id %>">
            <%= render :partial => "board_issue", :locals => { :issue => issue} %>
          </li>
         <% end %>
      </div>
    </div>
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_completed)%>
      </p>
      <div class="connectedSortable" id ="<% if !User.current.anonymous?  && @id_member.include?(User.current.id)|| User.current.admin%>completed<% else %>completed_nomember<% end %>">
        <% @issues_completed.each do |issue|%>
        <li id ="<%= issue.id %>">
          <%= render :partial => "board_issue", :locals => { :issue => issue} %>
        </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
#create_issue p span{
   line-height: 30px;

}
#create_issue select{
  background: #D9D9D9
}
#create_issue {
  font-size:12px;
  font-weight: bold;
}
.editing p span{
   line-height: 30px;

}
.editing select{
  background: #D9D9D9
}
.editing {
  font-size:12px;
  font-weight: bold;
  display:none;
}
li{
  list-style: none;
}
#new_description_issue{
  height:100px;

}
#new_tracker{
  float: left;
  margin-left: 5px;
}
#new_est_time{
  float:right
  
}
</style>
<script>
  jQuery(function() {
    $("#completed").find(".close_issue").show();
    $(".close_issue").live("click",function(){
      var issue_id = $(this).parent().attr("value")
      var project_id = <%= @project.id %>
      var url_ajax = 'close_issue'
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id=' + project_id,
        dataType : "text",
        success : function() {
          $("#"+issue_id).hide()
        }
      });
    });
    $( "#new, #started, #completed").sortable({
      scroll: true, scrollSensitivity: 100, scrollSpeed: 100,
      connectWith: ".connectedSortable",
      sort: function(){
      $(this).find(".ui-sortable-helper").addClass("check");
      },
      receive: function(){
      var status = $(this).attr("id")
      var project_id = <%= @project.id %>
      var url_ajax = 'update_status'
      var issue_id = $(this).find(".check").attr("id")
      if (status == "completed"){
        $(this).find(".close_issue").show();
      }
      if (status == "started" ){
        $(this).find(".close_issue").hide();
      }
      if (status == "new"){
        $(this).find(".close_issue").hide();
      }
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id=' + project_id + '&status=' + status,
        dataType : "text",
        success : function() {
           }
        });
      },
      axit: 'y',
      stop: function(event, ui) {
      var issue_id = $(".check").attr("id");
      var url_sort = 'sort_issues'
      var project_id = <%= @project.id %>;
      var position = $(ui.item).parent().children().index(ui.item);
      $(this).find(".check").removeClass("check")
        console.debug(position);
        $.ajax({
        url : url_sort,
        type : "POST",
        data : 'position='+ position +'&issue_id=' + issue_id + '&project_id=' + project_id ,
        dataType : "text",
        success : function() {
          }
        });
      }
    }).disableSelection();
    
    $(".slider-horizontal").each(function() {
      var id = parseInt($(this).parent().attr("value"))
        $("#slider"+id ).slider({
        orientation: "horizontal",
        range: "min",
        min: 0,
        max: 100,
        value: parseInt($(this).attr("value")),
        slide: function( event, ui ) {
        $("#amount"+id ).val( ui.value );
      },
      stop: function(e, ui) {
        var issue_id = parseInt($(this).parent().attr("value"));
        var project_id = <%= @project.id%>;
        var url_ajax = "ajax";
        $.ajax({
        url : url_ajax,
          type : "POST",
          data : 'done_ratio=' + ui.value + '&issue_id=' + issue_id + '&project_id='+project_id,
          dataType : "text",
          success : function(data) {
            console.debug(res);
          }
        });
      }
    });
    $( "#amount"+id ).val( $("#slider"+id).slider("value"));
    });
    
      $(".progressbar").each(function() {
      var id = parseInt($(this).parent().attr("value"))
      $("#progress"+id).progressbar({
        value:parseInt($(this).attr("value"))
       });
      });
      $(".edit_issue").click(function(){
        var id_issue = parseInt($(this).parent().attr("value"))
        $("i.edit_issue").show();
        $(this).hide();
        $("#completed").find(".close_issue").show();
        $("#close_"+id_issue).hide();
        $(".editing").hide();
        $(".no_edit").show();
        $("#show_"+id_issue).hide();
        $("#editing_"+id_issue).show();
        $(".hide").hide();
      });
      $(".cancel_edit").click(function(){
        var id_issue = parseInt($(this).parent().attr("value"))
        $("#completed").find("#close_"+id_issue).show();
        $("#editing_"+id_issue).hide();
        $("#show_"+id_issue).show();
        $("i.edit_issue").show();
        $(".readmore").show();
        $(".hide").hide();
        $(".description_readmore").hide();
      });
     
      $(".submit_edit").live("click", function(){
        var id_issue = parseInt($(this).parent().attr("value"));
        var url_ajax = "update";
        var project_id = <%= @project.id%>;
        var tracker = $("#edit_tracker_" + id_issue).val();
        var status = $("#edit_status_" + id_issue).val();
        var priority = $("#edit_priority_" + id_issue).val();
        var subject = $("#edit_subject_" + id_issue).val();
        var assignee = $("#edit_ass_" + id_issue).val();
        var est_time = $("#edit_time_" + id_issue).val();
        var description = $("#edit_description_" + id_issue).val();
        var date_start = $("#date_start_" + id_issue).val();
        var date_end = $("#date_end_" + id_issue).val();
        var sprin =  $("#edit_sprin_" + id_issue).val();
        $.ajax({
          url : url_ajax,
          type : "POST",
          data :'subject=' + subject +'&sprin='+sprin + '&date_start=' + date_start + '&date_end=' + date_end + '&est_time=' + est_time + '&description=' + description +'&tracker='+tracker + '&status='+ status +'&priority=' + priority + '&id_issue=' + id_issue + '&project_id=' + project_id + '&assignee=' + assignee,
          //data : $("#editing_"+id_issue).serialize(),
          dataType : "json",
          success : function(res) {
            console.debug("get value :"+res.content);
            $("#editing_" + id_issue).html(data.edit_content).hide();
            $("#show_" + id_issue).html(data.content).show();
          }
        });
    });

    $(".edit_date").each(function() {
      var id = $(this).attr("value");
      $("#date_start_" + id).datepicker();
      $("#date_end_" + id).datepicker();
      $("#date_start_" + id).datepicker("option", "dateFormat", "yy-mm-dd");
      $("#date_end_" + id).datepicker("option", "dateFormat", "yy-mm-dd");  
    })
    
    $(".readmore").click(function() {
      var id = $(this).attr("value");
      $(this).hide();
      $("#hide_" + id).show();
      $("#description_readmore_" + id).show();
      $("#description_hide_" + id).hide();
       return false;

    });
    $(".hide").click(function() {
      var id = $(this).attr("value");
      $(this).hide();
      $("#readmore_" + id).show();
      $("#description_hide_" + id).show();
      $("#description_readmore_" + id).hide();
       return false;

      });
      $( "#new_start_date").datepicker();
      $( "#new_due_date").datepicker();
      $( "#new_start_date").datepicker("option", "dateFormat", "yy-mm-dd");
      $( "#new_due_date").datepicker("option", "dateFormat", "yy-mm-dd");
      $(".icon_new_issue").click(function(){
      $("#create_issue").show();
      });
      $("#cancel_new_issue").click(function(){
        $("#create_issue").hide();
      });
    
  }); 
</script>
