<%= render :partial => "/shared/plugin_header", :locals => {:is_board => true} %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_new)%>
      </p>
      <% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>
        <p class="new_issue ">
        <i class="icon-plus-sign icon_new_issue"><span class="text_new "><%= l(:label_board_issue_new_issue)%></span></i> 
        </p>
      <% end %>
      <div class="connectedSortable" id ="<% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>new<% else %>new_nomember<% end %>" value="status_no_start">
        <%= render :partial => "form_new", :locals => { :issue => @issue} %>

        <% @new_issues.each do |issue|%>
          <li id ="<%= issue.id %>">
            <%= render :partial => "board_issue", :locals => { :issue => issue} %>
          </li>
        <% end %>
      </div>
    </div>
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_inprogress)%>
      </p>
      <div class="connectedSortable" id ="<% if !User.current.anonymous? && @id_member.include?(User.current.id)|| User.current.admin%>started<% else %>started_nomember<% end %>" value="status_inprogress">
        <% @started_issues.each do |issue|%>
          <li id ="<%= issue.id %>">
            <%= render :partial => "board_issue", :locals => { :issue => issue} %>
          </li>
        <% end %>
      </div>
    </div>
    <div class="board span4">
      <p class="status">
        <%= l(:label_board_status_completed)%>
      </p>
      <div class="connectedSortable" id ="<% if !User.current.anonymous?  && @id_member.include?(User.current.id)|| User.current.admin%>completed<% else %>completed_nomember<% end %>" value="status_completed">
        <% @completed_issues.each do |issue|%>
        <li id ="<%= issue.id %>">
          <%= render :partial => "board_issue", :locals => { :issue => issue} %>
        </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
</style>
<script>
  jQuery(function() {
    $("#completed").find(".close_issue").show();
    $(".close_issue").live("click",function(){
      var issue_id = $(this).parent().attr("value")
      var project_id = <%= @project.id %>
      var url_ajax = 'close'
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id=' + project_id,
        dataType : "text",
        success : function() {
          $("#"+issue_id).hide()
        }
      });
    });
    $( "#new, #started, #completed").sortable({
      scroll: true, scrollSensitivity: 100, scrollSpeed: 100,
      connectWith: ".connectedSortable",
      sort: function(){
      $(this).find(".ui-sortable-helper").addClass("check");
      },
      receive: function(){
      var status = $(this).attr("id")
      var project_id = <%= @project.id %>
      var url_ajax = 'update_status'
      var issue_id = $(this).find(".check").attr("id")
      if (status == "completed"){
        $(this).find(".close_issue").show();
      }
      if (status == "started" ){
        $(this).find(".close_issue").hide();
      }
      if (status == "new"){
        $(this).find(".close_issue").hide();
      }
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id=' + project_id + '&status=' + status,
        dataType : "json",
        success : function(res) {
           if (res.status == "completed"){
              makeSlider(issue_id,res.done_ratio);
            }
           }
        });
      },
      stop: function() {
      var issue_id = $(".check").attr("id");
      var url_sort = 'sort'
      var project_id = <%= @project.id %>;
      var id_next = $(".check").next().attr("id");
      var id_prev = $(".check").prev().attr("id");
      var old_status = $(this).attr("value");
      var new_status = $(".check").parent().attr("value");
      $(".check").removeClass("check");
        console.debug(id_prev);
        $.ajax({
        url : url_sort,
        type : "POST",
        data : 'issue_id=' + issue_id +'&id_prev=' + id_prev + '&project_id=' + project_id + '&id_next=' + id_next + '&new_status=' + new_status + '&old_status=' + old_status,
        dataType : "text",

        success : function(){
        
        }
        });
      }
    });
    
    $(".slider-horizontal").each(function() {
      var id = parseInt($(this).parent().attr("value"));
      var slide_value = $(this).attr("value");
      makeSlider(id, slide_value);
    });
    
    $(".progressbar").each(function() {
      var id = parseInt($(this).parent().attr("value"))
      $("#progress"+id).progressbar({
        value:parseInt($(this).attr("value"))
       });
    });
    $(".edit_issue").live("click", function(){
      var id_issue = parseInt($(this).parent().attr("value"))
      $("i.edit_issue").show();
      $(this).hide();
      $("#completed").find(".close_issue").show();
      $("#close_"+id_issue).hide();
      $(".editing").hide();
      $(".no_edit").show();
      $("#edit_issue_" + id_issue).show();
      $("#show_issue_" + id_issue).hide();
      $(".hide").hide();
    });

    $(".cancel_issue").live("click", function(){
      var id_issue = parseInt($(this).parent().attr("value"))
      $("#completed").find("#close_" + id_issue).show();
      $("#edit_issue_"+id_issue).hide();
      $("#show_issue_"+id_issue).show();
      $("i.edit_issue").show();
      $(".readmore").show();
      $(".hide").hide();
      $(".description_readmore").hide();
      $("#edit_issue_").hide();
    });
   
    $(".submit_issue").live("click", function(){
      var id_issue = $(this).parent().attr("value");
      if(id_issue != "" ){
        var url_ajax = "update";
      } else {
          var url_ajax = "create";
      }
      var subject = $("#new_subject_"+id_issue).val();
      var description = $("#new_description_"+id_issue).val();
      var tracker = $("#new_tracker_"+id_issue).val();
      var status = $("#new_status_"+id_issue).val();
      var priority = $("#new_priority_"+id_issue).val();
      var assignee = $("#new_assignee_"+id_issue).val();
      var sprint = $("#new_sprint_"+id_issue).val();
      var time = $("#new_time_"+id_issue).val();
      var date_start = $("#new_date_start_"+id_issue).val();
      var date_end = $("#new_date_end_"+id_issue).val();
      var project_id = <%= @project.id %>
      var author = <%= User.current.id %>
      var slide_value = $("#slider" + id_issue).attr("value");
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'subject=' + subject + '&id_issue=' + id_issue + '&description=' + description + '&tracker=' + tracker + '&status=' + status + '&priority=' + priority + '&assignee= ' + assignee + '&sprint=' + sprint + '&time=' + time + '&date_start=' + date_start + '&date_end=' + date_end + '&project_id=' + project_id + '&author=' + author,
        dataType : "json",
        success : function(data) {
          if(data.result == "edit_success") {
            console.debug("get value :" + data.edit_content);
            $("#show_issue_" + id_issue).replaceWith(data.content).show();
            makeSlider(id_issue, slide_value);
            $("#edit_issue_" + id_issue).replaceWith(data.edit_content).hide();
            editDate(id_issue); 
            form_edit(id_issue);
          }else if(data.result == "create_success"){
            $("#edit_issue_").find(".value_content").val("");
            $("#edit_issue_").hide();
            $("#edit_issue_").after(data.content)
            makeSlider(data.id,0);
            editDate(data.id); 
            form_edit(data.id);
          }
          else{
            alert(data.message);
          }
        }
      });
    });
    
    
    $(".editing").each(function() {
      var id = $(this).attr("value");
      editDate(id);
      if( id != ""){ 
        form_edit(id);
      }
      
    })
    
    $(".readmore").live("click", function(){
      var id = $(this).attr("value");
      $(this).hide();
      $("#hide_" + id).show();
      $("#description_readmore_" + id).show();
      $("#description_hide_" + id).hide();
       return false;
  
    });
    $(".hide").live("click", function() {
      var id = $(this).attr("value");
      $(this).hide();
      $("#readmore_" + id).show();
      $("#description_hide_" + id).show();
      $("#description_readmore_" + id).hide();
       return false;
  
      });
      $( "#date_start_").datepicker();
      $( "#date_end_").datepicker();
      $( "#ate_start_").datepicker("option", "dateFormat", "yy-mm-dd");
      $( "#date_end_").datepicker("option", "dateFormat", "yy-mm-dd");
      
      $(".icon_new_issue").click(function(){
        $("#edit_issue_").show();
        $("#edit_issue_").addClass("board_issue");
      });
      
    }); 
    function form_edit(id){
      $("#p_status_" + id).hide();
      $("#p_priority_" + id).hide();
      $("#p_tracker_" + id).hide();
      $("#p_sprint_" + id).hide(); 
    }
    function editDate(id){
      $("#new_date_start_" + id).datepicker();
      $("#new_date_end_" + id).datepicker();
      $("#new_date_start_" + id).datepicker("option", "dateFormat", "yy-mm-dd");
      $("#new_date_end_" + id).datepicker("option", "dateFormat", "yy-mm-dd");  
    }
    
    function makeSlider(id, slide_value) {
      $("#slider" + id ).slider({
        orientation: "horizontal",
        range: "min",
        min: 0,
        max: 100,
        value: parseInt(slide_value),
        slide: function( event, ui ) {
          $("#amount"+id ).val( ui.value );
        },
        stop: function(e, ui) {
          var issue_id = parseInt($(this).parent().attr("value"));
          var project_id = <%= @project.id %>;
          var url_ajax = "update_progress";
          $.ajax({
            url : url_ajax,
            type : "POST",
            data : 'done_ratio=' + ui.value + '&issue_id=' + issue_id + '&project_id='+project_id,
            dataType : "json",
            success : function(res) {
              $("#slider" + issue_id).attr("value", ui.value);
            }
          });
        }
      });
      $( "#amount" + id ).val( $("#slider" + id).slider("value"));
    }
</script>
