<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<% content_for :header_tags do %>
<%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
<%= stylesheet_link_tag 'bootstrap', :plugin => 'scrum2b' %>
<%= stylesheet_link_tag 'jquery-ui-slider', :plugin => 'scrum2b' %>
<% end %>
<div class="container-fluid">
	<p class="issues">
		Issues
	</p>
	<%= button_to "Board",{:action => "board",:project_id =>  params[:project_id]},:class => "btn btn-small btn_submit_board "%>
</div>

<%= render :partial => "filter_list", :locals => { :list_version => @list_versions} %>
<div class="container-fluid">
	<table id="table_issues" class="table" style="border: 1px solid #e4e4e4">
		<thead>
			<tr class="head_issue">
				<th id="check_all"><img src="/images/toggle_check.png?1349682375" alt="Toggle_check"></th>
				<th>#</th>
				<th>Status</th>
				<th>Subject</th>
				<th>Assignee</th>
				<th>Updated</th>
				<th>Est Time</th>
				<th>% Done</th>
			</tr>
		</thead>

		<tbody>
			<% if @version %>
				<%= render :partial => "version", :locals =>{:version => @version}  %>
			<% end %>
			<% if !params[:select_version] || params[:select_version] && params[:select_version] == 'all' ||  params[:select_version] == 'version_working'%>
				<%= render :partial => "backlog", :locals =>{:issues_backlog => @issues_backlog }%>
			<% end %>
		</tbody>
	</table>
</div>
<script>
  jQuery(function() {
    $("#check_all").toggle(function(){
     $("#table_issues tr td input:checkbox" ).attr( 'checked','checked');
		},function(){
		$("#table_issues tr td input:checkbox").removeAttr('checked');
		});
  $(".close_issue_list").live("click",function(){
	var issue_id = [];
	$('input[name="check"]').each(function() {
	if(this.checked==true) issue_id.push($(this).val());
	});
	console.debug(issue_id);
	var project_id = <%= @project.id %>
	var url_ajax = '/issue/close_issue'
	$.ajax({
		url : url_ajax,
		type : "POST",
		data : 'issue_id=' + issue_id + '&project_id='+project_id,
		dataType : "text",
		success : function() {
		$("#table_issues tr td input:checkbox").removeAttr('checked');
		location.reload();
		}
	});

	});
	$(".progressbar").each(function() {
		var id = parseInt($(this).attr("id"))
		$("#"+id).progressbar({
			value:parseInt($(this).attr("value"))
		});
	});
	$("tr.version_row").each(function() {
		if($(this).next().attr("class") != "issue_row")
		{
			$(this).hide();
		}
	});
});
</script>

