<%= render :partial => "/shared/plugin_header", :locals => {:is_board => false} %>

<div class="container-fluid">
	<table id="table_issues" class="table" style="border: 1px solid #e4e4e4">
		<thead>
			<tr class="head_issue">
				<th id="check_all"><img src="/images/toggle_check.png?1349682375" alt="Toggle_check"></th>
				<th>#</th>
				<th><%= l(:label_head_issue_status)%></th>
				<th><%= l(:label_head_issue_subject)%></th>
				<th><%= l(:label_head_issue_assignee)%></th>
				<th><%= l(:label_head_issue_updated)%></th>
				<th><%= l(:label_head_issue_est_time)%></th>
				<th><%= l(:label_head_issue_done)%></th>
			</tr>
		</thead>

		<tbody>
			<% if @sort_versions %>
				<%= render :partial => "version", :locals =>{:sort_versions => @sort_versions}  %>
				<% elsif !params[:select_version] || params[:select_version] && params[:select_version] == 'all' ||  params[:select_version] == 'version_working' || params[:select_version] == 'backlog'%>
				<%= render :partial => "backlog", :locals =>{:issues_backlog => @issues_backlog }%>
			<% end %>
		</tbody>
	</table>
</div>
<style>
</style>
<script>
  jQuery(function() {
    $("#check_all").toggle(function(){
      $("#table_issues tr td input:checkbox" ).attr( 'checked','checked');
		},function(){
		  $("#table_issues tr td input:checkbox").removeAttr('checked');
		});
		

		$("#btn_change_sprint_issues").click(function(){
		  $(this).hide();
		  $("#div_change_sprint").show();
		  return false;
		});
		
		$("#cancel_move_issue").click(function(){
       $("#div_change_sprint").hide();
      $("#btn_change_sprint_issues").show();
      $("#table_issues tr td input:checkbox").removeAttr('checked');
      return false;
    });
    
		$("#btn_move_issues").live("click",function(){
      var issue_id = [];
      $('input[name="check"]').each(function() {
        if(this.checked==true) issue_id.push($(this).val());
      });
      if (issue_id.length === 0){
        alert("<%= l(:label_error_select_issues)%>");
        return false;
        }
      else{
        var new_sprint = $("#change_sprint").val();
        var project_id = <%= @project.id %>
        var url_ajax = 'change_sprint'
        $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id='+project_id + '&new_sprint=' + new_sprint,
        dataType : "text",
        success : function() {
        //  location.reload();
          }
        });
       }
      
    });
    
  $("#btn_close_issue_list").live("click",function(){
  	var issue_id = [];
  	$('input[name="check"]').each(function() {
    	if(this.checked==true) issue_id.push($(this).val());
    });
  	if (issue_id.length === 0){
    	alert("<%= l(:label_error_select_issues)%>");
    	return false;
  	}else{
  	  var project_id = <%= @project.id %>
      var url_ajax = 'close'
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'issue_id=' + issue_id + '&project_id='+project_id,
        dataType : "text",
        success : function() {
          location.reload();
          }
       });
  	}


	});
	$(".progressbar").each(function() {
		var id = parseInt($(this).attr("id"))
		$("#"+id).progressbar({
			value:parseInt($(this).attr("value"))
		});
	});
	
});
</script>

