<div id="detail_issue" title="Detail Issue #<%= @issue.id%>">
  <% if !User.current.anonymous? && @id_member.include?(User.current.id) || User.current.admin %>
    <%= render :partial => 'form', :locals => {:issue => @issue, :priorities => @priorities, :relations => @relations, :allowed_statuses => @allowed_statuses, :edit_allowed => @edit_allowed} %>
  <% end %>
  <div class="detail_issue issue">  
    <%= render :partial => 'issue', :locals => {:issue => @issue} %>
  </div>
  <% if @journals.present? %>
    <div id="history">
    <h3><%=l(:label_history)%></h3>
      <%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
    </div>
  <% end %>
</div>

<style>
  .form_edit_issue {
    display:none;
  }
</style>
