<div class="show_form">
  <%= render :partial => 'action_menu' , :locals => {:issue => @issue} %>
  <h2><%= @issue.subject %></h2>
  <p class="author">
    <%= authoring @issue.created_on, @issue.author %>.
    <% if @issue.created_on != @issue.updated_on %>
    <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
    <% end %>
  </p>
  <table class="attributes">
    <%= issue_fields_rows do |rows|
      rows.left l(:field_status), h(@issue.status.name), :class => 'status'
      rows.left l(:field_priority), h(@issue.priority.name), :class => 'priority'
    
      unless @issue.disabled_core_fields.include?('assigned_to_id')
        rows.left l(:field_assigned_to), avatar(@issue.assigned_to, :size => "14").to_s.html_safe + (@issue.assigned_to ? link_to_user(@issue.assigned_to) : "-"), :class => 'assigned-to'
      end
      unless @issue.disabled_core_fields.include?('category_id')
        rows.left l(:field_category), h(@issue.category ? @issue.category.name : "-"), :class => 'category'
      end
      unless @issue.disabled_core_fields.include?('fixed_version_id')
        rows.left l(:field_fixed_version), (@issue.fixed_version ? link_to_version(@issue.fixed_version) : "-"), :class => 'fixed-version'
      end
    
      unless @issue.disabled_core_fields.include?('start_date')
        rows.right l(:field_start_date), format_date(@issue.start_date), :class => 'start-date'
      end
      unless @issue.disabled_core_fields.include?('due_date')
        rows.right l(:field_due_date), format_date(@issue.due_date), :class => 'due-date'
      end
      unless @issue.disabled_core_fields.include?('done_ratio')
        rows.right l(:field_done_ratio), progress_bar(@issue.done_ratio, :width => '80px', :legend => "#{@issue.done_ratio}%"), :class => 'progress'
      end
      unless @issue.disabled_core_fields.include?('estimated_hours')
        unless @issue.estimated_hours.nil?
          rows.right l(:field_estimated_hours), l_hours(@issue.estimated_hours), :class => 'estimated-hours'
        end
      end
      if User.current.allowed_to?(:view_time_entries, @project)
        rows.right l(:label_spent_time), (@issue.total_spent_hours > 0 ? (link_to l_hours(@issue.total_spent_hours), {:controller => 'timelog', :action => 'index', :project_id => @project, :issue_id => @issue}) : "-"), :class => 'spent-time'
      end
    end %>
    <%= render_custom_fields_rows(@issue) %>
    <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
  </table>
  <% if @issue.description? || @issue.attachments.any? -%>
    <hr />
    <% if @issue.description? %>
      <div class="description">
        <p><strong><%= l(:field_description) %></strong></p>
        <br />
        <div class="wiki">
        <%= textilizable @issue, :description, :attachments => @issue.attachments %>
        </div>
      </div>
    <% end %>
    <br />
    <br />
    <% if @issue.attachments.any? %>
      <% @issue.attachments.each do |attach| %>
        <p>
          <a href="/attachments/download/<%= attach.id %>" class="icon icon-attachment"><%= attach.filename %></a>
          <% if attach.is_text? %>
            <%= link_to image_tag('magnifier.png'),
                        :controller => 'attachments', :action => 'show',
                        :id => attach, :filename => attach.filename %>
          <% end %>
          <%= attach.description unless attach.description.blank? %>
          <span class="size">(<%= number_to_human_size attach.filesize %>)</span>
          <% if User.current.member_of?(@project) || User.current.admin %>
          <a href="#" onClick="delete_attach(<%= attach.id%>,<%= @issue.id %>)" class="icon icon-del delete" title="Delete"></a>
          <% end %>
          <span class="author"><%= h(attach.author) %>, <%= format_time(attach.created_on) %></span>
        </p>
      <% end %>
    <% end %>
  <% end -%>
</div>
