<div ng-repeat="version in versions" >
	<h3 class="title_sprint" versionid ="{{version.id}}" ng-class="{'title_sprint_active': isActiveVersion(version)}" click-sprint="activeVersion(version)" >
		{{version.name}} - {{version.effective_date}}
    <span class="quantity_issue" ng-if="isActiveVersion(version)">{{numberIssuesOfVersionActive}}</span> 
		<a href="<%= version_path('') %>{{version.id}} " ng-class="{'padding-see-detail': isActiveVersion(version)}" target="_blank" class="see-detail-sprint" ><%= l(:label_see_detail)%></a>
	</h3>	
	<div class="open_sprint_closed" ng-class="{'show': isActiveVersion(version)}" >
    <span><i class="fa fa-angle-left fa-lg pointer_cursor"></i> <%= l(:label_close_colunn) %></span>
  </div>
	<div class="sprint_{{version.id}} sprint sprint-active clearfix" ng-class="{'active': isActiveVersion(version)}">
	  <div class="s2b_column_5 hide_backlog">
	    <div class="padding_5 ">
	      <div class="border_status column_status_new">
	        <div class="status_sprint">
	          <span><%= l(:label_new_issue) %></span>
	          <span class="icon_add_issue button" add-new-issue="setParamsAddIssue(statusIds.status_no_start,version.id)"><i class="fa fa-plus-circle"></i><%= l(:label_add) %></span>
	        </div>
	        <!-- add new issue -->
	        <%= render :partial => "/s2b_issues/add_new_issue" %> 
	        <div class="connectedSortable check_height" status-id="{{statusIds.status_no_start}}" 
	        version-id="{{version.id}}" id="sortable_new_{{version.id}}" sortable >  
	          
          	<div class="issue ui-state-default" ng-class="{mini_mode: showIssueBacklog, small_mode: !showIssueBacklog}" issue-id="{{issue.id}}"  ng-repeat="issue in issuesNew" >
        	  	<%= render :partial => "/s2b_issues/issue" %>
        	  </div>
	        </div><!--end connectedSortable-->
	      </div><!--end border-->
	    </div><!--end padding 5 -->
	  </div><!--end sprint 1-->
	  <div class="s2b_column_5 hide_backlog">
	    <div class="padding_5">
	    	<div class="border_status column_status_in_progess">
	        <div class="status_sprint">
	          <span><%= l(:label_in_progress) %></span>
	          <span class="icon_add_issue button" add-new-issue="setParamsAddIssue(statusIds.status_inprogress,version.id)"><i class="fa fa-plus-circle"></i><%= l(:label_add) %></span>
	        </div>
	        <%= render :partial => "/s2b_issues/add_new_issue" %>
	        <div class="connectedSortable check_height" status-id="{{statusIds.status_inprogress}}" version-id="{{version.id}}" id="sortable_start_{{version.id}}" sortable >
	        	
	        	<div class="issue ui-state-default " ng-class="{mini_mode: showIssueBacklog, small_mode: !showIssueBacklog}" issue-id="{{issue.id}}" ng-repeat="issue in issuesInProgess" >
              <%= render :partial => "/s2b_issues/issue" %>
            </div>
	        </div><!--end connectedSortable-->  
	      </div><!--end border status-->
	    </div><!--end padding 5 -->
	  </div><!--end sprint 2-->
	  <div class="s2b_column_5 hide_backlog">
	  	<div class="padding_5">
	    	<div class="border_status column_status_resolved">
	        <div class="status_sprint">
	          <span><%= l(:label_resolved) %></span>
	        </div>
	        <div class="connectedSortable check_height" status-id="{{statusIds.status_completed}}" version-id="{{version.id}}" id="sortable_completed_{{version.id}}" sortable >
	          <div class="issue ui-state-default" ng-class="{mini_mode: showIssueBacklog, small_mode: !showIssueBacklog}" issue-id="{{issue.id}}" ng-repeat="issue in issuesResolved" >
              <%= render :partial => "/s2b_issues/issue" %>
            </div>
	        </div><!--end connectedSortable-->  
	      </div><!--end padding 5 -->
	    </div><!--end border status-->
	  </div><!--end sprint 3-->
	  <div class="s2b_column_3 issue_closed" id="issue_closed" ng-class="{hide: showIssueBacklog, show: !showIssueBacklog}">
	    <div class="padding_5">
	    	<div class="border_status column_status_close">
		      <div class="status_sprint">
		        <span><%= l(:label_close) %></span>
		        <span class="closed_issue button"><i class="fa fa-minus-circle"></i><%= l(:label_hide) %></span> 
		      </div>
		      <div class="connectedSortable check_height" status-id="{{statusIds.status_closed}}" version-id="{{version.id}}" id="sortable_closed_{{version.id}}" sortable >
		        <div class="issue ui-state-default small_mode" issue-id="{{issue.id}}" ng-repeat="issue in issuesClose" >
	              <%= render :partial => "/s2b_issues/issue" %>
	          </div>
		      </div><!--end connectedSortable-->  
	      </div>
	    </div><!--end padding 5 -->
	  </div><!--end sprint 4-->
	</div>
</div>
