<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'xeditable', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'application', :plugin => 'scrum2b' %>
  <%= javascript_include_tag "angular", :plugin => 'scrum2b' %>
  <%= javascript_include_tag "application", :plugin => 'scrum2b' %>
  <%= javascript_include_tag "jquery-ui", :plugin => 'scrum2b' %>
  <%= javascript_include_tag "xeditable", :plugin => 'scrum2b' %>
<% end %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style type="text/css">
	
</style>
<%= render :partial => "s2b_issues/angular_service" %>
<%= render :partial => "s2b_issues/angular_issue" %>
<%= render :partial => "s2b_issues/angular_comment" %>
<%= render :partial => "s2b_issues/angular_file" %>
<%= render :partial => "s2b_issues/angular" %>
<div ng-app="scrum2b" >
  <div class="content full_mode" ng-controller="BoardsCtrl" >
  	<div class="filter" >
      
	    <div class="filter_right">
	    	<div style="width: 50%; float: left;">
	    		<span class="icon_backlog" active-show-backlog="activeShowIssueBacklog()"><%= l(:label_backlog) %><i class="fa fa-angle-right fa-lg"></i></span>
	    		<ul style="float:left; margin-left: 90px " >
	    			<li>Change Sprint</li>
	    			<li>Change Status</li>
	    			<li>Delete</li>
	    		</ul>
	    	</div>
	    	<div style="width: 50%; float: left;">
	    		<span class="icon-imformation"><%= image_tag('icon-imformation.png', :plugin => 'scrum2b', :style => 'width: 30px;') %></span>
	    		<div class="imformation hide" >
			    	<h3><a href="https://github.com/scrum2b/scrum2b/tree/2-1-stable" target="_blank"><%=l(:label_scrum2b_tool)%></a></h3>
		        <p><%=l(:label_supported_by)%> <a href="http://www.scrumtobe.com" target="_blank"><%=l(:label_scrumTobe_software)%></a></p>
			    </div>

	    		<form ng-submit="filterIssues()">
			      <ul >
			        <li>
			          <select ng-model="filterversion">
			            <option ng-repeat="version in versions" value="{{version}}" ng-selected="isActiveVersion(version)">{{ version.name }}</option>
			          </select>
			        </li>
			        <li>
			          <select name="select_member" id="select_member" ng-model='filtermember'>
			            <option value="all" ng-selected="memberActiveShow == 'all'" ><%= l(:label_all_member)%></option>
			            <option ng-repeat="member in members" value=" {{ member}}" ng-selected="memberActiveShow==member.id">{{ member.firstname }}</option>
			          </select>
			        </li>
			        <li>
			        	<input type="submit" value="<%= l(:label_filter) %>">
			        </li>
			      </ul>
			    </form>
	    	</div>
	    </div>

	  </div> <!--end filter-->
	    
	  <!-- Backlog -->
	  <%= render :partial => "s2b_issues/backlog" %>
	  <!--begin 4 sprint-->
	  <div id="accordion" class="sprint_total">
  	  <%= render :partial => "s2b_issues/sprint" %>
    </div><!--accordion-->
  </div><!--end content-->
</div>

<!-- jquery -->
<%= render :partial => "s2b_issues/jquery" %>

