<div class="board_issue clearfix" id="<%= issue.id %>">
    <div class="id">#<%= link_to issue.id,:controller => 'issues', :action => 'show', :id =>issue.id %></div>
    <div class="subject"><%= issue.subject %></div>
    <% if issue.assigned_to %>
      <div class="assignee"><%= link_to issue.assigned_to,:controller => 'users', :action => 'show', :id =>issue.assigned_to.id %></div>
    <% elsif %>
      <div class="assignee">No Assignee</div>
    <% end %>
    <% if issue.estimated_hours %>
      <div class="estimated">Estimated time: <%= issue.estimated_hours %>h /</div>
    <% elsif %>
      <div class="estimated">Estimated time: 0h /</div>
    <% end %>
    <div id="slider-horizontal" class="ui-slider-horizontal"></div>
    <p>
        <label for="amount">Completed(%):</label>
        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>
    <script>
    jQuery(function($) {
        $( "#slider-horizontal" ).slider({
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            value: <%= issue.done_ratio%>,
            slide: function( event, ui ) {
            $( "#amount" ).val( ui.value );
            },
          stop: function(e, ui) {
          var issue_id = <%=issue.id%>;
          var project_id = <%= @project.id%>;
          console.debug(project_id);
          var url_ajax = "/issue/ajax";
          $.ajax({
          url : url_ajax,
          type : "POST",
          data : 'done_ratio=' + ui.value + '&issue_id=' + issue_id + '&project_id='+project_id,
          dataType : "text",
          success : function(res) {  
            console.debug(res);
          }
          }); 
            }
        });
        $( "#amount" ).val( $( "#slider-horizontal" ).slider( "value" ) );       
    });
    </script>
</div>

