<div class="board_issue clearfix" id="<%= issue.id %>">
    <div class="id">#<%= link_to issue.id,:controller => 'issues', :action => 'show', :id =>issue.id %></div>
    <div class="subject"><%= issue.subject %></div>
    <% if issue.assigned_to %>
      <div class="assignee"><%= link_to issue.assigned_to,:controller => 'users', :action => 'show', :id =>issue.assigned_to.id %></div>
    <% elsif %>
      <div class="assignee">No Assignee</div>
    <% end %>
    <% if issue.estimated_hours %>
      <div class="estimated">Estimated time: <%= issue.estimated_hours %>h /</div>
    <% elsif %>
      <div class="estimated">Estimated time: 0h /</div>
    <% end %>
    <div id="slider-horizontal"></div>
    <p>
        <label for="amount">Completed(%):</label>
        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    jQuery(function($) {
        $( "#slider-horizontal" ).slider({
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            value: <%= issue.done_ratio%>,
            slide: function( event, ui ) {
            $( "#amount" ).val( ui.value );
            },
          stop: function(e, ui) {
          var issue_id = <%=issue.id%>;
          var project_id = <%= @project.id%>;
          console.debug(project_id);
          var url_ajax = "/issue/ajax";
          $.ajax({
          url : url_ajax,
          type : "POST",
          data : 'done_ratio=' + ui.value + '&issue_id=' + issue_id + '&project_id='+project_id,
          dataType : "text",
          success : function(res) {  
            console.debug(res);
          }
          }); 
            }
        });
        $( "#amount" ).val( $( "#slider-horizontal" ).slider( "value" ) );
        $( "#sortable1, #sortable2, #sortable3").sortable({
            connectWith: ".connectedSortable"
            ,receive: function(){
            var status = $(this).attr("id")
       		var project_id = <%= @project.id %>
       		var url_ajax = '/issue/update_status'
       		var issue_id = <%= issue.id %>
       		console.debug(status);
       		console.debug(issue_id);
       		console.debug(project_id);
       		 $.ajax({
          url : url_ajax,
          type : "POST",
          data :  'issue_id=' + issue_id + '&project_id='+project_id + '&status='+status,
          dataType : "text",
          success : function() {  
            
          }
          });
         }
        }).disableSelection();       
       
    });
    </script>
</div>

