<div class="board_issue clearfix" id="<%= issue.id %>">
		<div class="id">#<%= link_to issue.id,:controller => 'issues', :action => 'show', :id =>issue.id %></div>
		<div class="subject"><%= issue.subject %></div>
		<% if issue.assigned_to %>
			<div class="assignee"><%= link_to issue.assigned_to,:controller => 'users', :action => 'show', :id =>issue.assigned_to.id %></div>
		<% elsif %>
			<div class="assignee">No Assignee</div>
		<% end %>
		<% if issue.estimated_hours %>
			<div class="estimated">Estimated time: <%= issue.estimated_hours %>h /</div>
		<% elsif %>
			<div class="estimated">Estimated time: 0h /</div>
		<% end %>
		<% if issue.done_ratio %>
			<div class="done"> <%= issue.done_ratio %>% Done:
				<table id="done">
					<tr> <% if  issue.done_ratio == 100 %>
						<td class="done"></td>
						<% end %>
						<% if  issue.done_ratio == 0 %>
						<td class="todo"></td>
						<% end %>
						<% if  issue.done_ratio != 0 && issue.done_ratio != 100%>
						<td class="done" style="width: <%= issue.done_ratio %>px"></td>
						<td class="todo" style="width: <%= 100 - issue.done_ratio %>px"></td>
						<% end %>
					</tr>
				</table>
			</div>
		<% elsif %>
			<div class="done">Done:0%</div>
		<% end %>
<script>
    $(function() {
    	$( "#sortable1, #sortable2, #sortable3").sortable({
            connectWith: ".connectedSortable"
            ,receive: function(){
            var status = $(this).attr("id")
       		var project_id = <%= @project.id %>
       		var url_ajax = '/issue/update_status'
       		var issue_id = <%= issue.id %>
       		console.debug(status);
       		console.debug(issue_id);
       		console.debug(project_id);
       		 $.ajax({
          url : url_ajax,
          type : "POST",
          data :  'issue_id=' + issue_id + '&project_id='+project_id + '&status='+status,
          dataType : "text",
          success : function() {  
            
          }
          });
         }
        }).disableSelection();       
       
    });	
 </script>
 </div>