<div class="view_issue">
	<table id="list_issues" class="memberid.<%= User.current.id %> list_issue">
		<tr>
			<td class="check_id"><input type="checkbox" id="check_<%= issue.id %>"></td>
			<td class="id_issue"><%= link_to issue.id, "issues/#{issue.id}" %></td>
			<td class="tracker"><%= issue.tracker %></td>
			<td class="status"><%= issue.status %></td>
			<td class="priotity"><%= issue.priority %></td>
			<td class="subject"><%= link_to issue.subject, "issues/#{issue.id}" %></td>
			<td class="assignee"><%= issue.assigned_to %></td>
			<td class="update"><%= issue.updated_on %></td>
		</tr>
	</table>
</div>
