<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<% html_title "scrum2b" %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'scrum2b' %>
    <%= stylesheet_link_tag 'jquery-ui-slider', :plugin => 'scrum2b' %>
    <%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
<% end %>
<p class="issues">
	Issues
</p>
<%=	button_to "Board",{:action => "board",:project_id =>  params[:project_id]},:name => "view_mode",:class => " btn btn-small btn_submit_board"%>
<%= render :partial => "filter_list", :locals => { :list_version => @list_versions}%>
<table class="list issue">
	<tr align="lez" style="bold">
		<th>
		<img src="/images/toggle_check.png?1349682375" alt="Toggle_check">
		</th>
		<th>#</th>
		<th>Status</th>
		<th>Subject</th>
		<th>Assignee</th>
		<th>Updated</th>
		<th>Estimated time</th>
		<th>% Done</th>
	</tr>
	<% if @version %>
	<%= render :partial => "version", :collection => @version %>
	<% end %>

</div>
<% if !params[:select_version] || params[:select_version] && params[:select_version] == 'backlog' || params[:select_version] == 'all'  %>
<%= render :partial => "backlog", :locals =>{:issues_backlog => @issues_backlog }%>
<% end %>




