<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<% html_title "scrum2b" %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap', :plugin => 'scrum2b' %>
    <%= stylesheet_link_tag 'jquery-ui-slider', :plugin => 'scrum2b' %>
    <%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
<% end %>
<p class="issues">
	Issues
</p>
<%=	button_to "Board",{:action => "board",:project_id =>  params[:project_id]},:name => "view_mode",:class => "btn_submit_board"%>
<%= render :partial => "filter_list", :locals => { :list_version => @list_versions} %>
<!-- <span class="close_issue btn">close</span> -->
<%=	link_to "test",{:action => "close_issue",:project_id =>  params[:project_id]},:class => "close_issue_list"%>
<div id="version_version">
		<div class="thead clearfix">
		<img src="/images/toggle_check.png?1349682375" alt="Toggle_check">
		</th>
		<th>#</th>
		<th>Status</th>
		<th>Subject</th>
		<th>Assignee</th>
		<th>Updated</th>
		<th>Estimated time</th>
		<th>% Done</th>
	</tr>
	<% if @version %>
	<%= render :partial => "version", :collection => @version %>
	<% end %>

</div>
<% if !params[:select_version] || params[:select_version] && params[:select_version] == 'backlog' || params[:select_version] == 'all'  %>
<%= render :partial => "backlog", :locals =>{:issues_backlog => @issues_backlog }%>
<% end %>

<script>
	jQuery(function() {
	$(".close_issue_list").live("click",function(){
	var issue_id = [];
	$('input[name="check"]').each(function() { 
    if(this.checked==true) issue_id.push(parseInt($(this).val())); 
  	});
  	var project_id = <%= @project.id %>
	var url_ajax = '/issue/close_issue'
	alert(issue_id)
		$.ajax({
		url : url_ajax,
		type : "POST",
		data : 'issue_id=' + issue_id + '&project_id=' + project_id,
		dataType : "text",
		success : function() {
		
		}
		});
	
	});
	});
</script>


