<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<% content_for :header_tags do %>
<%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
<%= stylesheet_link_tag 'bootstrap', :plugin => 'scrum2b' %>
<% end %>
<%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>

<div class="container-fluid">
	<p class="issues">
		Issues
	</p>
	<%= button_to "Board",{:action => "board",:project_id =>  params[:project_id]},:class => "btn_submit_board btn-small"%>
</div>

<%= render :partial => "filter_list", :locals => { :list_version => @list_versions} %>
<div class="container-fluid">
	<table id="table_issues" class="table" style="border: 1px solid #e4e4e4">
		<thead>
			<tr class="head_issue">
				<th id="check_all"><img src="/images/toggle_check.png?1349682375" alt="Toggle_check"></th>
				<th>#</th>
				<th>Status</th>
				<th>Subject</th>
				<th>Assignee</th>
				<th>Updated</th>
				<th>Estimated time</th>
				<th>% Done</th>
			</tr>
		</thead>

		<tbody>
			<% if @version %>
			<%= render :partial => "version", :locals =>{:version => @version}  %>
			<% end %>
			<% if !params[:select_version] || params[:select_version] && params[:select_version] == 'backlog' || params[:select_version] == 'all'  %>
			<%= render :partial => "backlog", :locals =>{:issues_backlog => @issues_backlog }%>
			<% end %>
		</tbody>
	</table>
</div>
<style>
	
</style>
<script>
	jQuery(function() {
$("#check_all").toggle(function(){
$("#table_issues tr td input:checkbox" ).attr( 'checked','checked');
},function(){
$("#table_issues tr td input:checkbox").removeAttr('checked');
});
$(".close_issue_list").live("click",function(){
var issue_id = [];
$('input[name="check"]').each(function() {
if(this.checked==true) issue_id.push(parseInt($(this).val()));
});
var project_id = <%= @project.id %>
	var url_ajax = '/issue/close_issue'
	alert(issue_id)
	$.ajax({
		url : url_ajax,
		type : "POST",
		data : 'issue_id=' + issue_id + '&project_id=' + project_id,
		dataType : "text",
		success : function() {

		}
	});

	});
	});
</script>

