<select>
		<% @version.each do |version|%>
		<option value="<%= version.id %>"><%= version.name %></option>
		<% end %>
</select>
<% if @issues.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'issue/list_issues', :locals => {:issues => @issues, :query => @query} %>
<p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
<% end %>
<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
  <%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
  <%= f.link_to 'PDF', :url => params %>
<% end %>



