<div class="filter">
  <div class="right-filter">
    <select name="select_version" id="select_version_onlist" >
      <option value="version_working"<% if  session[:param_select_version] && session[:param_select_version] == 'version_working'%><%= selected="selected" %><% end %> ><%= l(:label_select_all_versions_working)%></option>
      <% @list_versions_open.each do |version|%>
        <option value="<%= version.id %>" <%= "selected" if session[:param_select_version] && session[:param_select_version].to_i == version.id %> 
          ><%= version.name %></option>
      <% end %>
      <option value="backlog" <% if session[:param_select_version] && session[:param_select_version]  == 'backlog'%><%= selected="selected" %><% end %>><%= l(:label_select_backlog)%></option>
      
      <optgroup label="<%= l(:label_group_closed_sprin)%>">
        <% @list_versions_closed.each do |version|%>
            <option value="<%= version.id %>" <%= "selected" if session[:param_select_version] && session[:param_select_version].to_i == version.id %>><%= version.name %></option>
        <% end %>
      </optgroup>
      <option value="all" <% if session[:param_select_version] && session[:param_select_version] == 'all'%><%= selected="selected" %><% end %> ><%= l(:label_select_all_versions)%></option>
    </select>
    <select name="select_issue" id="select_type_issue_onlist">
      <% @select_issue_options.keys.each do |issue_type| %>
        <option value="<%= @select_issue_options[issue_type] %>" <% if session[:param_select_issues] && session[:param_select_issues].to_i == @select_issue_options[issue_type]%><%= selected="selected" %><% end %>>
        <%= l("label_select_issues_#{issue_type.to_s}".to_sym) %>
        </option>
      <% end %>    
    </select>
    <%= button_tag l(:label_btn_submit_selected), :id => "btn_filter_issues_onlist" %>
    
  </div>
  
  <% if !User.current.anonymous?  && @id_member.include?(User.current.id)|| User.current.admin %>
    <div class="left-filter">
      <button id="btn_close_issue_list"><%= l(:label_close_all_issues) %></button>
      <button id="btn_change_sprint_issues"><%= l(:label_change_sprint) %></button>
      <div id="div_change_sprint">
        <select id="change_sprint">
           <option value=""><%= l(:label_version_backlog) %></option> 
           <% @list_versions_open.each do |version|%>
            <option value="<%= version.id %>"><%= version.name %></option>
           <% end %>
        </select>
        <button id="btn_move_issues"><%= l(:label_move_issues) %></button>
        <button id="cancel_move_issue"><%= l(:label_board_edit_btn_cancel) %></button>
      </div>
    </div>
  <% end %>
</div>