<div class="container-fluid filter">
  <%= form_tag :action => 'index',:project_id =>  params[:project_id] %>
    <%= button_tag l(:label_btn_submit_selected),:class => " btn btn-small btn-primary btn_submit" %>
    <select name="select_issue" id="select_issue">
      <% @select_issue_options.keys.each do |issue_type| %>
        <option value="<%= @select_issue_options[issue_type] %>" <% if params[:select_issue] && params[:select_issue].to_i == @select_issue_options[issue_type]%><%= selected="selected" %><% end %>>
        <%= l("label_select_issues_#{issue_type.to_s}".to_sym) %>
        </option>
      <% end %>    
    </select>
    
    <select name="select_version" id="select_version">
      <option value="version_working"<% if params[:select_version] && params[:select_version] == 'version_working'%><%= selected="selected" %><% end %> ><%= l(:label_select_all_versions_working)%></option>
      <% @list_versions_open.each do |version|%>
        <option value="<%= version.id %>" <%= "selected" if params[:select_version] && params[:select_version].to_i == version.id %> 
          ><%= version.name %></option>
      <% end %>
      <option value="backlog" <% if params[:select_version] && params[:select_version] == 'backlog'%><%= selected="selected" %><% end %>><%= l(:label_select_backlog)%></option>
      
      <optgroup label="<%= l(:label_group_closed_sprin)%>">
        <% @list_versions_closed.each do |version|%>
            <option value="<%= version.id %>" <%= "selected" if params[:select_version] && params[:select_version].to_i == version.id %>><%= version.name %></option>
        <% end %>
      </optgroup>
      <option value="all" <% if params[:select_version] && params[:select_version] == 'all'%><%= selected="selected" %><% end %>><%= l(:label_select_all_versions)%></option>
    </select>
  <%= form_tag %>

  <% if  !User.current.anonymous?  && @id_member.include?(User.current.id)|| User.current.admin %>
      <button class="btn btn-danger btn-mini" id="btn_close_issue_list">
        <%= l(:label_close_all_issues)%>
      </button>
      <button class="btn btn-primary btn-mini" id="btn_change_sprint_issues">
        <%= l(:label_change_sprint)%>
      </button>
      <div id="div_change_sprint">
        <button class="btn btn-mini btn-primary" id="btn_move_issues">
          <%= l(:label_move_issues)%>
        </button>
        <select id="change_sprint" class="span2">
           <option value=""><%= l(:label_version_backlog)%></option> 
           <% @list_versions_open.each do |version|%>
            <option value="<%= version.id %>"><%= version.name %></option>
           <% end %>
        </select>
        <button class="btn btn-danger btn-mini" id="cancel_move_issue">
          <%= l(:label_board_edit_btn_cancel)%>
        </button>
      </div>
  <% end %>
</div>