<div class="container-fluid filter">

	<%= form_tag :action => 'board',:project_id =>  params[:project_id] %>
		<%=	button_tag l(:label_btn_submit_selected),:class => "btn btn-small btn-primary btn_submit" %>
		
 		<select name="select_member" id="select_issue">
 			<option value="all" ><%= l(:label_select_all_member)%></option>
 			<% if User.current.name != "Anonymous" %>
 			 <option value="me" <% if params[:select_member] && params[:select_member] == "me" %><%= selected="selected" %><% end %>><%= l(:label_select_me)%></option>
 			<% end %>
 			<% @member.each do |member|%>
	       <option value="<%= member.id %>" <%= "selected" if params[:select_member] && params[:select_member].to_i == member.id %> ><%= member.firstname + ' ' + member.lastname %></option>
			<% end %>
		</select>
		
		<select name="select_version" id="select_version">
			<option value="all"><%= l(:label_select_all_versions)%></option>
			<% @list_versions_open.each do |version|%>
					<option value="<%= version.id %>" <%= "selected" if params[:select_version] && params[:select_version].to_i == version.id %> ><%= version.name %></option>
			<% end %>
			<% if @list_versions_closed %>
				<optgroup label="<%= l(:label_group_closed_sprin)%>">
  				<% @list_versions_closed.each do |version|%>
             <option value="<%= version.id %>" <%= "selected" if params[:select_version] && params[:select_version].to_i == version.id %> style="color: red"><%= version.name %></option>
          <% end %>
        </optgroup>
			</select>
		<% end %>
	<%= form_tag %>
</div>
