<% @sort_versions.each do |version,issue| %>
  <% if !params[:select_version] || params[:select_version] && params[:select_version] == 'all' ||  params[:select_version] == 'version_working' %>
    <% if issue.empty? != true %>
        <tr class="version_row">
          <td colspan="8"><%= version %></td>
        </tr>
      <% issue.each do |issue|%>
        <tr class="issue <%= cycle("odd", "even") %>">
          <%= render :partial => "list_issues", :locals => { :issue => issue} %>
        </tr>
      <% end %>
    <% end %>
  <% else %>
     <% if issue.empty? != true %>
      <% issue.each do |issue| %>
        <tr class="issue <%= cycle("odd", "even") %>">
              <%= render :partial => "list_issues", :locals => { :issue => issue} %>
        </tr>
      <% end %>
    <% end %>
  <% end %>  
<% end %>


